*, *::before, *::after {
  box-sizing:border-box;
  padding:0;
  margin:0;
}

html{
  font-size: 10px;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
  /*background-image: linear-gradient(280deg, #EFBB3F 10%, #B3CFCD 90%);*/
}

.wrapper{
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*.block-text-contact:before, .block-text-follow:before{
  center: "",
  width: 0.1rem;
  height: 4rem;
  display: block;
  position: absolute;
  top: -6.5rem;
  left:50%;
}*/

.container { /*container for the top nav*/
    display: flex;
    align-items: center;
    min-width: 100%;
    flex-wrap: wrap;
    background-color: white ;
}

.logo{
  padding: 2rem 0.5rem 2rem;
  display: flex;
  justify-content: left;
  margin-left: 2rem;
  align-items: center;
}

.container .menu{/*flex container*/
  display: flex;
  align-items: center;
  margin-left: 3rem;
  margin-right: 2rem;
  align-items: center;
  list-style:none;
  justify-content: center;

}

.page a{ /*flex item*/
  color: black;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: none;
  padding: 2rem 1rem 1rem;
  text-align: center;
  align-items: center;
  transition: all 0.5s;
}

.page a:hover{
  color: DarkSeaGreen;
}

.wrapper{
  margin: 0 auto;
  width: 100%;
  /*display: flex;
  flex-direction: column;*/
}

.hero{
  display: flex;
  flex-direction:column;
  height: 80vh;
  padding:4rem 4rem;
  flex-wrap: wrap;
  /*background-color: lavender;*/
}

.hero article{
  position: absolute;
  z-index:2;
  align-self: flex-start;
  padding-bottom: 2rem;
}

.hero article .text h1{
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  line-height: normal;
  position: relative;
  padding-bottom: 3rem;
  font-size: 3rem;
  letter-spacing: 0.2;
}


.hero article .text p{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  font-size: 1.6rem;
  line-height: normal;
  width: 35vh;
  margin-bottom: 1rem;
}

.hero-image{/*hero image for the homepage*/
  display:flex;
  flex-wrap: nowrap;
  background-position:bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/hero.png);
  object-fit:cover;
  height: 40vh;
  width: 30vh;
  opacity: 0.4;
  z-index:1;
  position: absolute;
  margin-top: 16rem;
  margin-left: 10rem;
}

.hero-image2{ /*hero images for About page*/
  background-image: url(../images/hero2.png);
  display:flex;
  flex-wrap: nowrap;
  background-position:bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit:cover;
  height: 40vh;
  width: 30vh;
  opacity: 1;
  z-index:1;
  margin-top: 12rem;
  margin-left: 10rem;
}

/*--------case study styling*/

.flex-container{/*for cases*/
  display:flex;
  flex-direction:column;
  width:100%;
  align-items: center;
  justify-content:center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}


.case{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-left:2rem;
}

.heading /*.case h1*/{
  color: black;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  text-decoration: none;
  padding-top: 2rem;
  padding-bottom:2rem;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 100%;
  }
}

.overlay {
   width: 100%;
   margin: 2rem;
   position: relative;
   transition: .3s;
   font-family: 'Source Sans Pro', sans-serif;
}

.overlay img {
   width: 100rem;
   max-width: 100%;
   max-height: 50rem;
   opacity:1;
   display: block;
   height:auto;
   transition: .3s;
   padding: 2rem;
 }

.overlay:hover img{
  filter:blur(2px) brightness(30%);
}

.overlay :not(img) {
  position: absolute;
  z-index:1;
  top:20%;
  width:100%;
  text-align:center;
  color: #fff;
  opacity:0;
  transition: .3s;
}

.overlay h2{
top:25%;
font-size: 2.5rem;
text-align: center;
letter-spacing: 0.1em;
}

.overlay h3{
  top:45%;
  font-size: 1.6rem;
  font-weight: lighter;
  font-family: 'Source Sans Pro', sans-serif;
}

.overlay .btn-casestudy {
  top:65%;
  align-self: center;
  width:50%;
  height: 2px;
  text-transform: uppercase !important;
  color: #ffffff !important;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-casestudy a{
  text-decoration: none;
  background-color: black;

  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.overlay:hover :not(img){
  opacity:1;
}

.behub h2{
  font-family: 'Poiret One', cursive;
}

.stema h2{
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bus h2{
  font-family: 'Raleway', sans-serif;
}

/*--------about page styling*/
.hero article .text2 h1{
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  line-height: normal;
  position: relative;
  padding-bottom: 3rem;
  font-size: 3rem;
  letter-spacing: 0.2;
}

.hero article .text2 p{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  font-size: 1.8rem;
  line-height: normal;
  width: 40vh;
  margin-bottom: 1rem;
}

.summary-container{
  display:flex;
  flex-direction:column;
  width:100%;
  justify-content:flex-start;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.summary-texts p{
  line-height: 1.8;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
}

.btn-resume{
  color: #ffffff !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding:4rem;
  padding-left: 2rem;
  height: 2px;
  text-transform: uppercase !important
}

.btn-resume a{
  text-decoration: none;

  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.text-container{
  display:flex;
  flex-direction:column;
  width:100%;
  justify-content:flex-start;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.paragraph{
 margin-left: 2rem;
 margin-right:2rem;
}

.paragraph h1{
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 2rem;
}

.paragraph p{
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.8;
  /*margin-bottom: 1.5rem;*/
  padding-bottom: 4rem;
}

.underline{
  background-image: linear-gradient(to bottom, yellow 40%, transparent 10%);
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  background-size: 2px 8px;
}

.awards a{
  color: black;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.Japan {
  padding-bottom: 4rem;
}

.Design{
  padding-bottom: 4rem;
}

.Experiences{
  padding-bottom: 2rem;
}

.words{
  margin-left: 2rem;
  margin-right:2rem;
  margin-top: 2rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #C0C0C0;
}

.words h3{
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  line-height: normal;
  padding-left: 2rem;
  padding-top:3rem;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 2rem;
}

.words p{
  font-size: 1.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.carousel{
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin: 7rem 2rem;
  height: 45vh;
}

.carousel__track-container{
  height: 100%;
  position:relative;
}

.carousel__track{
  padding:0;
  margin:0;
  list-style: none;
  position:relative;
  height:100%
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel h3{
  color: black;
  font-family: 'Noto Serif', serif;
  line-height: normal;
  padding-bottom: 2rem;
  position: relative;
  font-size: 1.8rem;
}

.carousel__slide p{
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.reference{
  font-size: 1.4rem;
  color: grey;
  padding-bottom: 2rem;
}

.carousel__nav{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.carousel__indicator{
  border:0;
  border-radius:50%;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0,0,0,.3);
  margin: 0 1rem;
  cursor: pointer;
}

.is-hidden{ display:none;}


.carousel__indicator.current-slide{
  background: rgba(0,0,0,.75)
}


/*--------footer styling*/
.footer{
  padding-top: 7rem;
  /*overflow:hidden;*/
}

.footer-container{
  background-color: #F5F5F5;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  width:100%;
  display:flex;
  flex-direction: column;
  align-content: center;
  flex-wrap:wrap;
}

.question h2{
  font-size: 2rem;
  align-items: center;
  font-family: 'Noto Serif', serif;
  margin-bottom: 3rem;
  margin-top: 5rem;
  text-align: center;
}

.footer h4{
  font-size: 1.2rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Noto Serif', serif;
  text-align: center;
}

.block-text-contact h4{
  margin-bottom: 1.5rem;
}

.block-text-contact{
  text-align: center;
  position: relative;
}

.btn-default {
  padding: 12px 20px;
  background-color: #262633;
  text-transform: uppercase !important;
  color: #ffffff !important;
  letter-spacing: 0.2rem;
  margin-bottom: 3.4rem;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
}


.social-list{/*.social-list ul*/
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction:row;
  padding: 1.5rem 0rem 4rem 0;
}

.social-list a{ /*placement of icons*/
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.text-center{
  text-align: center;
}

.text-group{
  over-flow: hidden;
}

.social li{
  list-style: none;
  text-align: center;
  padding:1rem 1.5rem 0 1.5rem;
}

.copyright h4{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  text-transform: none;
  letter-spacing: regular;
  font-family:'Source Sans Pro', sans-serif;
}


@media screen (max-width: 1024px) {

  .flex-nav li{
    flex-wrap:wrap;
  }

  .flex-nav li{
    flex:1 1 50%
  }

  .flex-nav .logo{
    flex:1 1 25%;
  }

}

@media screen (max-width: 760px){
  .flex-nav li{
    flex-basis:100%;
  }

  .wrapper{
  display: flex;
  flex-direction: column;
 }

 .project{
  width: 100%;
  max-width: 40rem;
  height: auto;
  background-position:
}
}

/*@media screen and (min-width: 575px){
  .flex-nav li{
    flex-basis:100%;
  }

  .wrapper{
  display: flex;
  flex-direction: column;
 }

 .project{
  width: 100%;
  max-width: 40rem;
  height: auto;
}
/*.social li{
 flex: 1 1 25%;
}*/

/*Flex Item*/
/*.wrapper> * {
  order: 9999;
}

.flex-nav{
  order:1;
}

.toggle-nav{
  display: block;
}

.flex-nav ul{
  display:none;
}

.flex-nav ul.open{
  display: flex;
}

}
*/
