*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

html{
  font-size: 10px;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 1.8rem;
  /*background-image: linear-gradient(280deg, #EFBB3F 10%, #B3CFCD 90%);*/
}

a{
  color: black;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: none;
  padding: 1rem 0.5rem;
  display: inline-block;
  width: 80%;
  text-align: right;
  transition: all 0.5s;
  /*text-shadow: 0 2px 0 rgba(0,0,0, 0.07);*/
}

a:hover{
  color: DarkSeaGreen;
}


.wrapper{
  margin: 0 auto;
  background-color: mistyrose;/*for reference*/
  width: 100%;
}

/*Flex Container*/
.flex-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.flex-nav li{
  flex: 1;
}

.flex-nav .logo{
  flex-grow:0;
}

.logo{
margin-left: 4rem;
padding-top: 5rem;
align-items: center;
}

/*.overlapping ul{
  display: grid;
  grid-template-columns: 2fr 2fr 6fr 4fr 2fr;
  max-width: 60rem;
}

ul{
  list-style: none;
  margin: 0 0 0 2rem;
  padding: 2.2rem;
}*/

.hero-container{
  display: flex;
  border: 10px solid black;/*reference*/
  height: 80%;
  padding-top: 7rem;
  flex-wrap: wrap;
}

.hero-image{
  background: url(../images/hero.jpg) right/cover;
  height: 70vh;
  width: 50vh;
  align-content: left;

  /*padding: 40rem 0 0  20rem;*/
  margin-left: 50rem;
}

hero-container, h1{
  width: 70vh;
  font-family: 'Noto Serif', serif;
  font-size: 3rem;
  /*justify-content: flex-start;*/
  text-align: left;
  margin-left: 10rem;
  margin-bottom: 2rem;
}

hero-container, p{
  width: 70vh;
  font-size: 2rem;
  text-align: left;
  margin-left: 10rem;
}

h4 { /*name next to the logo*/
  font-size: 2rem;
  font-weight: lighter;
  color: #333333;
  display: flex;
  align-items: center;
  margin-left: 7rem;
  text-shadow: 0 2px 0 rgba(0,0,0, 0.07);

}

.project{
  display: flex;
  flex-direction: column nowrap;
  min-height: 80vh;
  margin: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.behub{
  background-image: url("../images/behub.png");
}

.stema{
  background-image: url("../images/stema.png");
}

.bus{
  background-image: url("../images/bus.png");
}

/*.projects, .h3{
  display: block;
  font-size: 1.8rem;
  text-align: left;
  color: pink;
  align-items: left;
}*/


.project-number{
  display: block;
  transform: rotate(-90deg);
  transform-origin: 40% 100%;
  /*align-items:left;*/
  position: absolute;
  line-height: 2.5rem;
  font-size: 1.6rem;
  border: 1rem solid orange;

}

/*footer{
  text-align: center;
  background: #B3CFCD;
  padding: 2rem;
  margin: 2rem 0;
  color: black;
  font-weight: 10rem;
}*/

/*flex container*/
footer, .ul{
  background-color:#B3CFCD;
  padding: 3rem;
  list-style: none;
  text-align: center;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  justify-content: center;
  border: 2rem solid Pink;
}

/*first flex item*/
li, .logo{
  padding-bottom: 2rem;
  list-style: none;
}

li, .social{
  width: 8vh;
  padding:0;

}

/*footer, .p{
  text-align: center;
  padding-left: 0;
}*/


/*@media all and (max-width: 1000px) {
  .flex-nav li{
    flex-wrap:wrap;
  }

  .flex-nav li{
    flex:1 1 50%
  }

  .flex-nav .logo{
    flex:1 1 25%;
  }

}

@media all and (max-width: 500px){
  .flex-nav li{
    flex-basis:100%;
  }

  .wrapper{
  display: flex;
  flex-direction: column;
}

/*Flex Item*/
/*.wrapper> * {
  order: 9999;
}

.flex-nav{
  order:1;
}

.toggle-nav{
  display: block;
}

.flex-nav ul{
  display:none;
}

.flex-nav ul.open{
  display: flex;
}

}
*/
