*, *::before, *::after {
  box-sizing:border-box;
  padding:0;
  margin:0;
}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
  /*background-image: linear-gradient(280deg, #EFBB3F 10%, #B3CFCD 90%);*/
}

.wrapper{
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*.block-text-contact:before, .block-text-follow:before{
  center: "",
  width: 0.1rem;
  height: 4rem;
  display: block;
  position: absolute;
  top: -6.5rem;
  left:50%;
}*/
.nav { /*container for the top nav*/
    position: sticky;
    top: 0;
    z-index: 5;

    display: flex;
    align-items: center;
    min-width: 100%;
    flex-wrap: wrap;
    background-color: white;
}

#btnScrollToTop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}

#btnScrollToTop:hover {
  background-color: black;
}


.container { /*container for the top nav*/
    display: flex;
    align-items: center;
    min-width: 100%;
    flex-wrap: wrap;
    background-color: white;
}

.logo{
  padding: 2rem 0.5rem 2rem;
  display: flex;
  justify-content: left;
  margin-left: 2rem;
  align-items: center;
}

.container .menu{/*flex container*/
  display: flex;
  align-items: center;
  margin-left: 3rem;
  margin-right: 2rem;
  align-items: center;
  list-style:none;
  justify-content: center;

}

.page a{ /*flex item*/
  color: black;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: none;
  padding: 2rem 1rem 1rem;
  text-align: center;
  align-items: center;
  transition: all 0.5s;
}

.page a:hover{
  color: #B3CFCD;
  font-weight:bold;
}

.wrapper{
  margin: 0 auto;
  width: 100%;
  /*display: flex;
  flex-direction: column;*/
}

.hero{
  display: flex;
  flex-direction:column;
  height: 80vh;
  padding:4rem 4rem;
  flex-wrap: wrap;
  /*background-color: lavender;*/
}

.hero article{
  position: absolute;
  z-index:2;
  align-self: flex-start;
  padding-bottom: 2rem;
}

.hero article .text h1{
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  line-height: normal;
  position: relative;
  padding-bottom: 3rem;
  font-size: 3rem;
  letter-spacing: 0.2;
}


.hero article .text p{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  font-size: 1.6rem;
  line-height: normal;
  width: 35vh;
  margin-bottom: 1rem;
}

.hero-image{/*hero image for the homepage*/
  display:flex;
  flex-wrap: nowrap;
  background-position:bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/hero.png);
  object-fit:cover;
  height: 40vh;
  width: 30vh;
  opacity: 0.4;
  z-index:1;
  position: absolute;
  margin-top: 16rem;
  margin-left: 10rem;
}

.hero-image2{ /*hero images for About page*/
  background-image: url(../images/hero2.png);
  display:flex;
  flex-wrap: nowrap;
  background-position:bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit:cover;
  height: 40vh;
  width: 30vh;
  opacity: 1;
  z-index:1;
  margin-top: 12rem;
  margin-left: 10rem;
}

/*--------case study styling in homepage*/

.flex-container{/*for cases*/
  display:flex;
  flex-direction:column;
  width:100%;
  align-items: center;
  justify-content:center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.8rem;
}


.case{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-left:2rem;
}

.heading /*.case h1*/{
  color: black;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  text-decoration: none;
  padding-top: 2rem;
  padding-bottom:2rem;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 100%;
  }
}

.browse {
  display:flex;
  flex-direction: row;
  text-align: center;
}

.overlay {
   width: 100%;
   margin: 2rem;
   position: relative;
   transition: .3s;
   font-family: 'Source Sans Pro', sans-serif;
}

.overlay img {
   width: 100rem;
   max-width: 100%;
   max-height: 50rem;
   opacity:1;
   display: block;
   height:auto;
   transition: .3s;
   padding: 2rem;
 }

.overlay:hover img{
  filter:blur(2px) brightness(30%);
}

.overlay :not(img) {
  position: absolute;
  z-index:1;
  top:20%;
  width:100%;
  text-align:center;
  color: #fff;
  opacity:0;
  transition: .3s;
}

.overlay h2{
top:25%;
font-size: 2.5rem;
text-align: center;
letter-spacing: 0.1em;
}

.overlay h3{
  top:45%;
  font-size: 1.6rem;
  font-weight: lighter;
  font-family: 'Source Sans Pro', sans-serif;
}

.overlay .btn-casestudy {
  top:65%;
  align-self: center;
  width:50%;
  height: 2px;
  text-transform: uppercase !important;
  color: #ffffff !important;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-casestudy a{
  text-decoration: none;
  background-color: black;

  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.overlay:hover :not(img){
  opacity:1;
}

.behub h2{
  font-family: 'Poiret One', cursive;
}

.stema h2{
  font-family: 'bebas-neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bus h2{
  font-family: 'Raleway', sans-serif;
}

/*-----------casestudy behub styling----------------*/

.behub-image{
  width: 100%;
  position: relative;
}

.behub-image img{
  width: 100rem;
  max-width: 100%;
  max-height: 50rem;
  opacity:1;
  display: block;
  height:auto;
}

.hero-container{
  display: flex;
  align-items: center;
  min-width: 100%;
  flex-wrap: wrap;
}

.hero-text h1{
  color: black;
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  line-height: normal;
  position: relative;
  padding-bottom: 1.8rem;
  font-size: 3rem;
  letter-spacing: 0.2;
  padding-left: 2rem;
  margin-top: 3rem;
}

.hero-text p{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: normal;
  position: relative;
  padding-bottom: 4rem;
  font-size: 1.8rem;
  padding-left: 2rem;
}

.specs-container{
  display: flex;
  align-items: baseline;
  min-width: 100%;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.specs-container h2{
  padding-left: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  color:grey;
  letter-spacing: 0.2rem;
}

.specs-container p{
  padding-left: 2rem;
  font-size: 1.6rem;
  font-weight: lighter;
}

.deli h2{
  margin-top: 4.5rem;
}

.deli h3{
  padding-left: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333333;
}

.deli p{
  font-weight: normal;
  padding-bottom: 1rem;
}

.deli a{
  color: black;
  letter-spacing: 0.2rem;
  text-decoration-color: #EFBB3F;
}

.intro-container{
  display: flex;
  align-items: baseline;
  min-width: 100%;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.intro-container h2{
  padding-left: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  letter-spacing: 0.2rem;
  color: #333333;
}

.intro-container p{
  padding-left: 2rem;
  font-size: 1.6rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
}

.prototype{
  width: 100%;
  align-items: center;
}

.prototype img{
  width: 100%;
  position:relative;
}

.section-title{ /*container for the section title*/
  background-color: rgba(179, 207, 205, 0.6);
  margin-right: 18rem;
  margin-top: 10rem;
  opacity: 0.5;
}

.section-title h2{
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 1rem;
  padding-left: 1.8rem;
  padding-top: 1rem;
  color: black !important;
  letter-spacing: 0.2rem;
}

.intro h3{
  padding-top: 5rem;
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.intro p{
  font-size: 1.6rem;
  padding: 2rem 2rem 4rem 2rem;
}

.intro .note {
  font-size: 1.4rem;
  color: darkgrey;
  padding-left: 2rem;
}

.content h4{
  font-size: 1.8rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.content.challenge h4{
  padding-top: 3rem;
}

.content.challenge p{
  line-height: 3rem;
}

.content.challenge.bold{
  font-weight: bold;
}

.finding h4{
  padding-top: 3rem;
}

.content p{
  font-size: 1.6rem;
  font-weight: normal;
  padding: 2rem;
}

.image-container{/*flex container*/
  display: flex;
  height:40vh;
  padding-top: 3rem;
}

.graph-title h4{
  padding-left: 2rem;
  font-size: 1.6rem;
  padding-top: 3rem;
  color: grey;
  letter-spacing: 0.1rem;
}

.graph img{
  width:80%;
  height: 45%;
  padding-left: 2rem;
}

.exp {
  margin-top: 1rem;
  height: 14vh;
}


.exp p{
  font-size: 1.6rem;
  padding-left: 2rem;
  padding-right: 1rem;
  color: grey;
}

.exp2 p{
  font-size: 1.6rem;
  padding-right: 2rem;
  margin-top: 2rem;
  color: grey;
}

.images img{
  width: 100%;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

 .chart img{
  width: 80%;
  position:relative;
  padding-left: 2rem;
}

.chart p{
  padding-left: 2rem;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  color: grey;
}

.content .first{
  margin-top: 2rem;
}

.intro h5 a{
  padding-left: 2rem;
  padding-bottom: 4rem;
  font-size: 1.6rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
  color: grey;
}


.logo-images{
  width: 100%;
  padding: 6rem 2rem;
}

.logo-images img{
  width:100%
}

.branding{
  width:100%;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.branding.typ img{
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.branding img{
  width:100%;
}

.branding h5{
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 1.8rem;
}

.branding p{
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.6rem;
}


#color{
  padding: 1rem;
  width: 12rem;
  height: 12rem;
  margin-top: 1rem;

  line-height: 15rem;;
  color: black;
  font-weight: normal;
  font-size: 1.2rem;
  text-align:left;
}

.box1{
  background: #FDF49A;
}

.box2{
  background:#FFC114;
}

.box3{
  background: #3B3B3C;
  color: White !important;
}

.box4{
  background: #231F20;
  color: White !important;
}

.box5{
  background: #EBF4E8;
}

.box6{
  background: #DEEEE3;
}

.box7{
  background: #8C5C64;
  color: White !important;
}

.box8{
  background: #4E4B59;
  color: White !important;
}

.user img{
  padding-left: 2rem;
  width: 30%;
}

.user h4{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  font-size: 1.6rem;
}

.user p{
  font-size: 1.6rem;
  padding: 1rem 2rem 1.5rem 2rem;
}

.p3-imgcontainer img{
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 80%;
  margin-bottom: 7rem;
}

.impro-note p{
  color: grey;
  font-size: 1.6rem;
  font-weight: lighter;
  padding: 5rem 2rem 2rem 2rem;
}

.testing img{
  width: 80%;
  display: block;
  margin-top: 4rem;
  margin-left:auto;
  margin-right: auto;
}

.testing h5{
  padding: 2rem;
  padding: 3rem 2rem 2rem 2rem;
  font-size: 1.6rem;
}

.testing p{
  padding-bottom: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.images.mock{
  background-image: url(../images/mockup1.png);
  display:flex;
  flex-wrap: nowrap;
  margin-top: 5rem;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 40vh;
  width: 100%;
}

.vertical img{
  display: block;
  margin: 5rem auto;
  height: 100%;
  width: 60%;
}

.mock img{
  width: 100%;
  display: block;
  margin: 5rem auto;
}

.mock.three img{
  width: 50%;
}

.mock.four img{
  width: 60%;
}

.images.mock2{
  background-image: url(../images/mock2.png);
  display:flex;
  flex-wrap: nowrap;
  margin-top: 5rem;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 40vh;
  width: 100%;
}

.content.summarize{
  line-height: 2.5rem;
  font-size: 2rem;
  padding:2rem;
}


/*-----------User Persona-------------*/

.persona-container{
  display:flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.persona-img1{
  display:flex;
  flex-wrap: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/emily3.png);
  object-fit:cover;
  opacity: 0.8;
  height: 25%;
  width: 50%;
  z-index:1;
  position: absolute;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.profile{
  width: 70%;
  z-index: 2;
  margin-left: 14rem;
  margin-top: 4rem;
}

.profile h3{
  padding-top: 0rem;
  font-size: 1.8rem;
}

.profile h6{
  font-size: 1.4rem;
  font-weight: lighter;
  color: grey;
}

.profile p{
  font-size: 1.6rem;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.profile-text h5{
  font-size: 1.6rem;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  color: grey;
  letter-spacing: 0.1rem;
}

.profile-text p{
  font-size: 1.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}

.persona-img2{
  display:flex;
  flex-wrap: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/james3.png);
  object-fit:cover;
  opacity: 0.8;
  height: 25%;
  width: 50%;
  z-index:1;
  position: absolute;
  margin-left: 2rem;
}

.summary-box{
  margin-left: 2rem;
  margin-right: 2rem;
}

.summary p{
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  border-left: 6px solid rgba(179, 207, 205, 0.6);
}

.summary-note p{
  font-size: 1.6rem;
  padding: 4rem 2rem;
}

.summary .underline{
  background-image: linear-gradient(to bottom, #EFBB3F 30%, transparent 10%); /*go back to adjust the color*/
}

.mainfeatures{
  width: 100%;
}

.mainfeatures h4{
  padding-left: 2rem;
  font-size: 1.6rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

.feature-container{
  list-style:none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.item{
  padding-left: 2rem;
  padding-right:2rem;
  width: 15rem;
  height: 30rem;
  margin-top: 1rem;
  text-align: center;
}

.item img{
  width: 100%
}


.item p{
  padding-top:1rem;
  font-size: 1.4rem;
}
/*--------------about page styling---------------*/
.hero article .text2 h1{
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  line-height: normal;
  position: relative;
  padding-bottom: 3rem;
  font-size: 3rem;
  letter-spacing: 0.2;
}

.hero article .text2 p{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  font-size: 1.8rem;
  line-height: normal;
  width: 40vh;
  margin-bottom: 1rem;
}

.summary-container{
  display:flex;
  flex-direction:column;
  width:100%;
  justify-content:flex-start;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.summary-texts p{
  line-height: 1.8;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
}

.btn-resume{
  color: #ffffff !important;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding:4rem;
  padding-left: 2rem;
  height: 2px;
  text-transform: uppercase !important
}

.btn-resume a{
  text-decoration: none;

  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.text-container{
  display:flex;
  flex-direction:column;
  width:100%;
  justify-content:flex-start;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.paragraph{
 margin-left: 2rem;
 margin-right:2rem;
}

.paragraph h1{
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 2rem;
}

.paragraph p{
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.8;
  /*margin-bottom: 1.5rem;*/
  padding-bottom: 4rem;
}

.underline{
  background-image: linear-gradient(to bottom, #B3CFCD 40%, transparent 30%);
  background-position: 0 1.03em;
  background-repeat: repeat-x;
  background-size: 2px 8px;
}

.awards a{
  color: black;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.Japan {
  padding-bottom: 4rem;
}

.Design{
  padding-bottom: 4rem;
}

.Experiences{
  padding-bottom: 2rem;
}

.words{
  margin-left: 2rem;
  margin-right:2rem;
  margin-top: 2rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #C0C0C0;
}

.words h3{
  color: black;
  font-family: 'Noto Serif', serif;
  font-weight: 600;
  line-height: normal;
  padding-left: 2rem;
  padding-top:3rem;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 2rem;
}

.words p{
  font-size: 1.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  padding-top: 3rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.comment{
    margin: 3rem 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #C0C0C0;
  }

.comment p{
  padding: 1.5rem 3rem;
  font-size: 2rem;
}


.carousel{
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin: 7rem 2rem;
  height: 45vh;
}

.carousel.App{
  height: 30vh;
}

.carousel__track-container{
  height: 100%;
  position:relative;
}

.carousel__track{
  padding:0;
  margin:0;
  list-style: none;
  position:relative;
  height:100%
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel h3{
  color: black;
  font-family: 'Noto Serif', serif;
  line-height: normal;
  padding-bottom: 2rem;
  position: relative;
  font-size: 1.8rem;
}

.carousel__slide p{
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.reference{
  font-size: 1.4rem;
  color: grey;
  padding-bottom: 2rem;
}

.carousel__nav{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.carousel__indicator{
  border:0;
  border-radius:50%;
  width: 1.5rem;
  height: 1.5rem;
  background: rgba(0,0,0,.3);
  margin: 0 1rem;
  cursor: pointer;
}

.is-hidden{ display:none;}


.carousel__indicator.current-slide{
  background: rgba(0,0,0,.75)
}


/*--------summary carousel styling------------*/

.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
  padding-top: 6rem;
}

.mySlides.fade img{
  width: 100%;
  padding-top: 2rem;
}

.dot {
  height: 1.5rem;
  width: 1.5rem;
  margin: 4rem 1rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}




/*--------footer styling*/
.footer{
  padding-top: 7rem;
  /*overflow:hidden;*/
}

.footer-container{
  background-color: #F5F5F5;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
  width:100%;
  display:flex;
  flex-direction: column;
  align-content: center;
  flex-wrap:wrap;
}

.question h2{
  font-size: 2rem;
  align-items: center;
  font-family: 'Noto Serif', serif;
  margin-bottom: 3rem;
  margin-top: 5rem;
  text-align: center;
}

.footer h4{
  font-size: 1.2rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Noto Serif', serif;
  text-align: center;
}

.block-text-contact h4{
  margin-bottom: 1.5rem;
}

.block-text-contact{
  text-align: center;
  position: relative;
}

.btn-default {
  padding: 12px 20px;
  background-color: #262633;
  text-transform: uppercase !important;
  color: #ffffff !important;
  letter-spacing: 0.2rem;
  margin-bottom: 3.4rem;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif;
}


.social-list{/*.social-list ul*/
  list-style:none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction:row;
  padding: 1.5rem 0rem 4rem 0;
}

.social-list a{ /*placement of icons*/
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.text-center{
  text-align: center;
}

.text-group{
  over-flow: hidden;
}

.social li{
  list-style: none;
  text-align: center;
  padding:1rem 1.5rem 0 1.5rem;
}

.copyright h4{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  text-transform: none;
  letter-spacing: regular;
  font-family:'Source Sans Pro', sans-serif;
}


@media screen (max-width: 1024px) {

  .flex-nav li{
    flex-wrap:wrap;
  }

  .flex-nav li{
    flex:1 1 50%
  }

  .flex-nav .logo{
    flex:1 1 25%;
  }

}

@media screen (max-width: 760px){
  .flex-nav li{
    flex-basis:100%;
  }

  .wrapper{
  display: flex;
  flex-direction: column;
 }

 .project{
  width: 100%;
  max-width: 40rem;
  height: auto;
  background-position:
}
}

/*@media screen and (min-width: 575px){
  .flex-nav li{
    flex-basis:100%;
  }

  .wrapper{
  display: flex;
  flex-direction: column;
 }

 .project{
  width: 100%;
  max-width: 40rem;
  height: auto;
}
/*.social li{
 flex: 1 1 25%;
}*/

/*Flex Item*/
/*.wrapper> * {
  order: 9999;
}

.flex-nav{
  order:1;
}

.toggle-nav{
  display: block;
}

.flex-nav ul{
  display:none;
}

.flex-nav ul.open{
  display: flex;
}

}
*/
